table {
    border-collapse: collapse;
    margin-top: 10px;
    align-items: center;
    background-color: rgb(183, 205, 210);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 300px;
    
}

table, th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    
}
table input{
    outline: none;
    border: 0;
    padding: 10px;
    background-color: rgb(183, 205, 210);
    width: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}